<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/web/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f4cd5455a6.js" crossorigin="anonymous"></script>
    <script>
    /*
        $(document).ready(function()
        {
           var qty = parseFloat(document.getElementById("qty").value);
           var price = parseFloat(document.getElementById("price").value);
           var total = parseFloat(qty * price);
           document.getElementById("Total").innerHTML = total;
           console.log(total);
           console.log(qty);
           console.log(price);

            $('#qty').change(function() {
                $("#Total").val() = $("#qty").val() * $("#price").val();
           });

        });*/
    </script>
    <title>Онлайн магазин</title>
</head>
<body>
<nav role="navigation" class="navbar navbar-default" id="nav">
    <div class="">
        <a href="http://localhost:8080/index" class="navbar-brand">Онлайн магазин</a>
    </div>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8080/index">Начало</a></li>
            <li><a href="http://localhost:8080/index">Продукти</a></li>
            <li><a href="http://localhost:8080/about">За нас</a></li>
            <li><a href="http://localhost:8080/contacts">Контакти</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="fas fa-shopping-cart">   Количка   </a></li>
            <li><a href="/login">Вход</a></li>
        </ul>
    </div>
</nav>
<div class ="container" align="center">
</div>
<div class ="container" align="center">
    <h1>Количка</h1>
    <br/><br/>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Код</th>
            <th>Артикул</th>
            <th>Количество</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}" id="id"></td>
            <td>
                <img th:src="@{/upload/{url}(url=${product.image})}" width="25px" height="25px" />
                <span th:text="${product.name}"></span>
            </td>
            <td>
                <input type="number" min="1" name="quantity" th:value="1"
                       style="text-align-last: end; background-size: cover; width: 3em"  id="qty"/>
            </td>
            <td
                th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}" id="price" style="font-weight: bold">
            </td>
            <td>&nbsp;&nbsp;&nbsp;
                <a type="button" class="btn btn-danger" th:href="@{'/delete/' + ${product.id}}">Премахни</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>