<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/web/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f4cd5455a6.js" crossorigin="anonymous"></script>
    <script th:inline="javascript">

        $(document).ready(function()
        {
            let count = Array.from(document.querySelectorAll('.qty'));
            let price = Array.from(document.querySelectorAll('.price'));
            let total = Array.from(document.querySelectorAll('.Total'));
            count.map((x,i) => {
                total[i].textContent = (price[i].textContent * x.value).toFixed(2);
            })

            let a = 0;
            total.map(x => {
                a += +x.textContent;
            })

            document.getElementById('SubTotal').textContent = a.toFixed(2);


                Array.from(document.querySelectorAll('.qty')).map(x => {
                    x.addEventListener('change', calc);
                });

                function calc() {
                let count = Array.from(document.querySelectorAll('.qty'));
                let price = Array.from(document.querySelectorAll('.price'));
                let total = Array.from(document.querySelectorAll('.Total'));

                count.map((x,i) => {
                    total[i].textContent = (price[i].textContent * x.value).toFixed(2);
                });

                let a = 0;
                total.map(x => {
                    a += +x.textContent;
                });

                document.getElementById('SubTotal').textContent = a.toFixed(2);
           }

        });
    </script>
    <title>Количка</title>
</head>
<body>
<nav role="navigation" class="navbar navbar-default" id="nav">
    <div class="">
        <a href="http://localhost:8080/index" class="navbar-brand">Онлайн магазин</a>
    </div>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8080/index">Начало</a></li>
            <li><a href="http://localhost:8080/index">Продукти</a></li>
            <li><a href="http://localhost:8080/about">За нас</a></li>
            <li><a href="http://localhost:8080/contacts">Контакти</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="fas fa-shopping-cart">   Количка   </a></li>
            <li><a href="/login">Вход</a></li>
        </ul>
    </div>
</nav>
<div class ="container" align="center">
</div>
<div class ="container" align="center">
    <h1>Количка</h1><br/>
    <a th:unless="${#lists.isEmpty(listProducts)}" th:href="@{/index}">Продължи с пазаруването</a>
    <br/><br/>
    <table th:unless="${#lists.isEmpty(listProducts)}" class = "table table-striped" id="tbl">
        <thead>
        <tr>
            <th>Код</th>
            <th>Артикул</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Тотал</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}" id="id"></td>
            <td>
                <img th:src="@{/upload/{url}(url=${product.image})}" width="25px" height="25px" />
                <span th:text="${product.name}" style="vertical-align: middle;"></span>
            </td>
            <td>
                <input type="number" min="1" name="quantity" th:value="1"
                       style="text-align-last: end; background-size: cover; width: 3em; margin-left: 13px;" id="quantity" class="qty"/>
            </td>
            <td
                th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}" class="price" style="font-weight: bold">
            </td>
            <td class="Total" style="font-weight: bold"></td>
            <td>&nbsp;&nbsp;&nbsp;
                <a type="button" class="btn btn-danger" th:href="@{'/delete/' + ${product.id}}">Премахни</a>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:right;"><strong>Обща сума:</strong></td>
            <td colspan="2"><strong id="SubTotal"></strong></td>
        </tr>
        </tbody>
    </table>
    <h3 th:if="${#lists.isEmpty(listProducts)}">Все още няма добавени артикули!</h3>
    <a th:unless="${#lists.isEmpty(listProducts)}" type ="button" class="btn btn-success" th:href="@{/order}">Завърши поръчката</a>
</div>
</body>
</html>