<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/web/contact.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f4cd5455a6.js" crossorigin="anonymous"></script>
    <title>Поръчка</title>

</head>
<body style="text-align: -webkit-center;">
<nav role="navigation" class="navbar navbar-default" id="nav">
    <div class="">
        <a href="http://localhost:8080/index" class="navbar-brand">Онлайн магазин</a>
    </div>
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8080/index">Начало</a></li>
            <li><a href="http://localhost:8080/index">Продукти</a></li>
            <li><a href="http://localhost:8080/about">За нас</a></li>
            <li><a href="http://localhost:8080/contacts">Контакти</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:8080/cart" class="fas fa-shopping-cart">   Количка   </a></li>
            <li><a href="/login">Вход</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form class="form-horizontal" role="form" method="POST" th:object="${order}"
          th:action="@{order/save}">
        <input type="hidden" th:field="*{items}" />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" role="alert" th:if="${msg}"
                     th:utext="${msg}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Информация за поръчката</h2>
            <br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                        </div>
                        <input required="required" type="text" class="form-control" th:field="*{name}"
                               placeholder="Име" style="width: 23em"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                        </div>
                        <input required="required" type="text" class="form-control" th:field="*{address}"
                                placeholder="Адрес" style="width: 23em" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                        </div>
                        <input required="required" type="tel" pattern="[0-9]{10}" class="form-control" th:field="*{phone}"
                                placeholder="Телефон" style="width: 23em" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
						<span class="text-danger align-middle">
						</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                        </div>
                        <input type="text" th:field="*{note}"
                               class="form-control" placeholder="Забележка" style="width: 23em" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
						<span class="text-danger align-middle">
						</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br/>
                <button type="submit" class="btn btn-success">Изпрати поръчка</button>
            </div>
        </div>
        <br/>
    </form>
</div>
</body>
</html>